* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
}
 
.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container {
    margin-top: 50px;
    width: 480px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid  rgb(10, 11, 90);
    padding: 20px;
}

    .login__container > h1 {
        font-weight: 500;
        
        margin-bottom: 20px;
        color: rgb(10, 11, 90);
        
    }

    .login__container > form > h5 {
        margin-bottom: 5px;
        text-align: left;
        font-size: 20px;
        color: rgb(10, 11, 90);
    }

    .login__container > form > input {
        height: 30px;
        margin-bottom: 10px;
        background-color: white;
        width: 98%;
        border: 3px solid #a88734 ;
    }

    .login__container > p {
        margin-top: 15px;
        font-size: 12px;
    }

.login__signInButton {
    background: rgb(10, 11, 90);
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 3px solid;
    margin-top: 10px;
    color: white;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    text-align: center;
    color: inherit;
    border-color: darkgray;
    text-decoration: none !important;
}

